{% extends "pages/base.html" %}
{% load static %}

{% block content %}
<!-- Slider Area Start-->
<div class="services-area">
    <div class="container">
        <!-- Section-tittle -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="section-tittle text-center mb-80">
                    <span>Blog</span>
                    <h2>Our Blog Area​</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End-->

<!--================Blog Area =================-->
<section class="blog_area section-paddingr">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item" id="ar1">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'pages/img/blog/tips_1.png' %}" alt="">
                            <a href="single-blog1.html" class="blog_item_date">
                                <h3>15</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog1.html">
                                <h2>Ecommerce Security on Your Magento Site: What You Need to Know</h2>
                            </a>
                            <p>If you use Magento as your ecommerce platform, your business may be at risk of falling victim to cybercrime. </p>
                            <ul class="blog-info-link">
                                <li><a href="single-blog1.html"><i class="fa fa-user"></i> Read More</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'pages/img/blog/tips_2.jpg' %}" alt="">
                            <a href="single-blog2.html" class="blog_item_date">
                                <h3>20</h3>
                                <p>Feb</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog2.html">
                                <h2>Best Ways to Support Local Businesses During the Coronavirus Pandemic</h2>
                            </a>
                            <p>With the coronavirus pandemic gripping our nation, you’ve seen friends, families, and coworkers staying home as local bars, restaurants, and other businesses close their doors.</p>
                            <ul class="blog-info-link">
                                <li><a href="single-blog2.html"><i class="fa fa-user"></i> Read More</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item" id="ar3">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'pages/img/blog/tips_3.jpg' %}" alt="">
                            <a href="single-blog3.html" class="blog_item_date">
                                <h3>10</h3>
                                <p>Mar</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog3.html">
                                <h2>Critical Replatforming Checklist Definitive Do’s and Don’ts</h2>
                            </a>
                            <p>Migrating or replatforming your ecommerce business is one of the most daunting challenges a company can undertake.</p>
                            <ul class="blog-info-link">
                                <li><a href="single-blog3.html"><i class="fa fa-user"></i> Read More</a></li>
                            </ul>
                        </div>
                    </article>

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#ar1" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#ar1" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#ar3" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#ar3" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btns" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">Search</button>
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="media post_item">
                            <img src="{% static 'pages/img/post/tips_1.png' %}" alt="post">
                            <div class="media-body">
                                <a href="single-blog1.html">
                                    <h3>Ecommerce Security...</h3>
                                </a>
                                <p>January 15, 2020</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="{% static 'pages/img/post/tips_2.jpg' %}" alt="post">
                            <div class="media-body">
                                <a href="single-blog2.html">
                                    <h3>Best Ways to Support...</h3>
                                </a>
                                <p>February 20,2020</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="{% static 'pages/img/post/tips_3.jpg' %}" alt="post">
                            <div class="media-body">
                                <a href="single-blog3.html">
                                    <h3>Critical Replatforming...</h3>
                                </a>
                                <p>March 10,2020</p>
                            </div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>

                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">Subscribe</button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}