{% extends "pages/base.html" %}
{% load static %}


{% block content %}
<main>
    <!-- Slider Area Start-->
    <div class="slider-area ">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center"
                data-background="{% static 'pages/img/hero/h1_hero.png' %}">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-7 col-md-9 ">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s">The #1 SEO <br> Services Company
                                </h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">We help you succeed online with
                                    proven SEO methods.</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    <a href="contact.html" class="btn hero-btn">Contact Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                <img src="{% static 'pages/img/hero/hero_right.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height d-flex align-items-center"
                data-background="{% static 'pages/img/hero/h1_hero.png' %}">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-7 col-md-9 ">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s">The #1 SEO Services <br> Company
                                    with <br> 600+ Case Studies</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">We help you succeed online with
                                    proven SEO methods.</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    <a href="contact.html" class="btn hero-btn">Contact Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                <img src="{% static 'pages/img/hero/hero_right.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Area End-->
    <!-- What We do start-->
    <section id="services">
        <div class="what-we-do we-padding">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>What We Will Do For Your Business​</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <span class="flaticon-tasks"></span>
                            </div>
                            <div class="do-caption">
                                <h4>URL Structure</h4>
                                <p>Your URLs are also critically important for search engine optimization. For
                                    instance, your URLs should contain real words and include your keywords. They
                                    should be structured in such a way that search engines can easily crawl your
                                    site based on your URLs alone.</p>
                            </div>
                            <div class="do-btn">
                                <a href="#plan"><i class="ti-arrow-right"></i> get started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do active text-center mb-30">
                            <div class="do-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="do-caption">
                                <h4>Social Media marketing</h4>
                                <p>A great deal of overlap exists between SEO and marketing, and social media
                                    campaigns are highly effective for both. In order for a social media campaign to
                                    be effective, though, it must be properly and persuasively tailored to your
                                    audience.</p>
                            </div>
                            <div class="do-btn">
                                <a href="#plan"><i class="ti-arrow-right"></i> get started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <span class="flaticon-project"></span>
                            </div>
                            <div class="do-caption">
                                <h4>Content marketing</h4>
                                <p>If you want to receive relevant traffic for a specific keyword, you must rank on
                                    the first page. And if you want to turn a hefty profit, you should rank as close
                                    to #1 as possible. That’s why it’s so important to keep track of all of your
                                    keyword rankings and tailor your SEO plan accordingly.</p>
                            </div>
                            <div class="do-btn">
                                <a href="#plan"><i class="ti-arrow-right"></i> get started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- What We do End-->
        <!-- Generating Start -->
        <div class="generating-area ">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Generating New Customers Via Online Mode​​</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-chart"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Backlink Review</h4>
                                <p>Backlinks are important, but it’s a priority to keep tabs on the pages that link
                                    back to your website to ensure the links are still active and not engaging in
                                    questionable activities. You should also review your competitor’s backlinks to
                                    find new possible link partners and improve your search engine rankings</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Navigation Structure</h4>
                                <p>Can users and search engine robots easily navigate your website? Your navigation
                                    structure should be simple, consistent, and organized. This is important not
                                    only for SEO but also for usability and conversion optimization.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-growth"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Significant ROI</h4>
                                <p>If you want to receive relevant traffic for a specific keyword, you must rank on
                                    the first page. And if you want to turn a hefty profit, you should rank as close
                                    to #1 as possible. That’s why it’s so important to keep track of all of your
                                    keyword rankings and tailor your SEO plan accordingly. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-speaker"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Keep you in the Loop</h4>
                                <p>Keyword research isn’t a one-time exercise. As your site begins to build traffic,
                                    you should always be on the lookout for the most relevant keywords. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Generating End -->
    </section>
    <section id="about">
        <!-- We Create Start -->
        <div class="we-create-area create-padding" style="background-color: #F8F8FF;">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-img">
                            <img src="{% static 'pages/img/service/we-create.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-cap">
                            <h3>We Create a Steps to Build a Successful Product</h3>
                            <p>Strategic keyword research allows you to maximize your audience size with the right
                                terms targeted on the right pages. When properly implemented, keyword research gives
                                you an airtight game plan for how to structure your content, blog articles, product
                                descriptions, homepage copy, and more.</p>
                            <a href="#plan" class="btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- We Create End -->
    </section>
    <!--Choose Best start-->
    <div class="choose-best choose-padding">
        <div class="container">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7">
                    <div class="section-tittle text-center">
                        <h2>Choose Your Plan </h2>
                    </div>
                </div>
            </div>
            <div class="row" id="plan">
                <div class="col-lg-4 col-md-6">
                    <div class="single-choose text-center mb-30">
                        <div class="do-icon">
                            <span class="flaticon-growth"></span>
                        </div>
                        <div class="do-caption">
                            <h4>Search Engine Optimization</h4>
                            <p>After learning everything we can about both your business and your competition, we
                                create both short- and long-term strategies. These include carefully constructed
                                plans for keywords, copy, link building, outreach. Once everything is laid out, it’s
                                time for our specialized teams to get to work.</p>
                            <br /><a href="contact.html" class="btn">get started</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-choose active text-center mb-30">
                        <div class="do-icon">
                            <span class="flaticon-award"></span>
                        </div>
                        <div class="do-caption">
                            <h4>Link Building</h4>
                            <p>Link building allows your website to achieve greater authority by linking high-value
                                websites to your business. It’s not just about building links, though. It’s about
                                finding the right links, both in terms of quantity and quality.</p>
                            <br /><a href="contact.html" class="btn">get started</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-choose text-center mb-30">
                        <div class="do-icon">
                            <span class="flaticon-project"></span>
                        </div>
                        <div class="do-caption">
                            <h4>Analytics Setup & Review</h4>
                            <p>Google Analytics allows you to monitor your SEO progress, trends, and growth, and to
                                locate and fix any potential problems before they get out of hand. It also enables
                                you to see how specific keywords impact your traffic and sales.</p>
                            <br /><a href="contact.html" class="btn">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose Best do End-->
    <!-- Testimonial Start -->
    <div class="testimonial-area" style="background-color: #FFFFF0;">
        <div class="container">
            <div class="testimonial-main">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-5  col-md-8 pr-0">
                        <div class="section-tittle text-center">
                            <h2>What Client Say About Us</h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-md-9">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>They consistently went above to improve our website every month we worked
                                            with them. Their team put in far more work than required by their
                                            contract to ensure that they delivered the highest quality product
                                            possible. A lot of SEO companies are going to say whatever they can to
                                            get you to sign and commit to them, they were never pushy and simply let
                                            their work speak for themselves. Everyone was incredibly knowledgable,
                                            prompt, professional yet personal, and a pleasure to work with. I
                                            honestly don’t have any bad things to say.</p>
                                    </div>
                                    <!-- founder -->
                                    <div
                                        class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-text">
                                            <span>Oliva J</span>
                                            <p>UIX designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>The work has been hugely successful, with dramatic increases in both site
                                            traffic and revenue. The team works independently, provides bi-monthly
                                            updates, and are always aware of the latest trends in digital strategy.
                                            They put a lot of thought into the SEO strategies, and that knowledge is
                                            something we can’t replicate. They’re also really transparent. I’ve used
                                            other companies that claim everything’s proprietary, but Coalition gives
                                            us access to everything. They’re very reliable. I trust them completely,
                                            which is really nice. I haven’t been able to do that with other firms.
                                        </p>
                                    </div>
                                    <!-- founder -->
                                    <div
                                        class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-text">
                                            <span>NATHANIEL S</span>
                                            <p>Digital Marketing Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Tips Triks Start -->
    <div class="tips-triks-area tips-padding">
        <div class="container">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 pr-0">
                    <div class="section-tittle text-center">
                        <h2>Our Blogs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-tips mb-50">
                        <div class="tips-img">
                            <img src="{% static 'pages/img/tips/tips_1.jpg' %}" alt="">
                        </div>
                        <div class="tips-caption">
                            <h4><a>Ecommerce Security on Your Magento Site: What You Need to Know</a></h4>
                            <span><a href="single-blog1.html" style="color: black;">Continue Reading</a></span>
                            <p>January 15, 2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-tips mb-50">
                        <div class="tips-img">
                            <img src="{% static 'pages/img/tips/tips_2.jpg' %}" alt="">
                        </div>
                        <div class="tips-caption">
                            <h4><a> Best Ways to Support Local Businesses During the CoVid19 Pandemic</a></h4>
                            <span><a href="single-blog2.html" style="color: black;">Continue Reading</a></span>
                            <p>February 20, 2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-tips mb-50">
                        <div class="tips-img">
                            <img src="{% static 'pages/img/tips/tips_3.jpg' %}" alt="">
                        </div>
                        <div class="tips-caption">
                            <h4><a>Critical Replatforming Checklist Definitive Do’s and Don’ts</a></h4>
                            <span><a href="single-blog3.html" style="color: black;">Continue Reading</a></span>
                            <p>March 10, 2020</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- have-project Start-->
    <div class="have-project">
        <div class="container">
            <div class="haveAproject" data-background="{% static 'pages/img/team/have.html' %}">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-7 col-lg-9 col-md-12">
                        <div class="wantToWork-caption">
                            <h2>Have project in mind?</h2>
                            <p>If you’re ready to take your business to the top, contact us today. Our team of SEO
                                specialists will review your website and provide you with an analysis, strategy, and
                                timeline that includes a competitor strategy review. We can get you started
                                immediately, so call us right now at +447537183346.</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-3 col-md-12">
                        <div class="wantToWork-btn f-right">
                            <a href="contact.html" class="btn btn-ans">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- have-project End -->

</main>
{% endblock content %}