<footer>
    <!-- Footer Start-->
    <div class="footer-main" data-background="assets/img/shape/footer_bg.png">
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-4 col-md-4 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="{% url 'pages:home' %}" class="logote" style="color: black;">Cleanedpaper</a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1">71-75 Shelton Street, London<br> United Kingdom, WC2H 9JQ
                                        </p>
                                        <p class="info2">sales@cleanedpaperltd.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="{% url 'pages:home' %}#about">About</a></li>
                                    <li><a href="{% url 'pages:home' %}#services">Services</a></li>
                                    <li><a href="{% url 'pages:home' %}#plan">Plans</a></li>
                                    <li><a href="{% url 'pages:blog' %}">Blog</a></li>
                                    <li><a href="{% url 'pages:contact' %}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Legal</h4>
                                <ul>
                                    <li><a href="privacy_policy.html">Privacy Policy</a></li>
                                    <li><a href="terms_conditions.html">Terms & Conditions</a></li>
                                    <li><a href="refund_policy.html">Refund Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                    Cleanedpaper is a brand of Cleaned Paper LTD. <br> Registered in England and
                                    Wales</i><a href="https://colorlib.com/" target="_blank"
                                        style="display: none;">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>