<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent ">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div>
                            <a href="{% url 'pages:home' %}" class="logote" style="color: black;">Cleanedpaper</a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url 'pages:home' %}"> Home</a></li>
                                    <li><a href="{% url 'pages:home' %}#services">Services</a></li>
                                    <li><a href="{% url 'pages:home' %}#about">About Us</a></li>
                                    <li><a href="{% url 'pages:contact' %}">Contact</a></li>
                                    <li><a href="{% url 'pages:blog' %}">Blog</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="header-right-btn f-right d-none d-lg-block">
                            <a href="contact.html" class="btn header-btn">Contact Us</a>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>